{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header style="background-image: url('/static/assets/camobackground.jfif'); background-size: cover; background-position: center; height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Apie Mus</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Sveiki atvykę į karpinės žūklės parduotuvę</p>
                </div>
            </div>
        </header>
        <div class="container">
          <div class="row">
            <center>
              <div class="col-8">
                <br/><br/>
<p align="justify">
Viskas, karpių žūklei vienoje vietoje! Specializuotas asortimentas karpiavimui. Išsirinks kiekvienas - ir megėjas, ir profesionalas! Platus asortimentas skirtingų kainų produkcijos, rasite ir ekonomines ir gerai žinomų, garsių gamintojų prekes.
Jums siūlomė gausų pasirinkimą karpinių meškerių, ričių, valų, graibštų, kėdžių. Gaudyminių bei šėriminių boilių. Signalizatorių ir kibimo indikatorių. Karpinių kabliukų, leadcorų, plauko ir kitų surištų bei paruoštų sistemų. Taip pat, visus įrankius ir aksesuarus susirišti sistemas patiems. Meškerių stovai, Buzz Bar'ai ir matai laimikiui, kurie reikalingi žvejojant karpius. Prekiaujame tokių gamintojų produkcija, kaip: Korda, Prologic, Fox, Spomb, Guru, Matrix, Daiwa, Shimano bei daugelių kitų.
</p>
<br/><br/>
              </div>
            </center>
          </div>
        </div>




{% endblock %}