{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header style="background-image: url('/static/assets/camobackground.jfif'); background-size: cover; background-position: center; height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Kategorijos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Pasirinkite jus dominančią kategorija</p>
                </div>
            </div>
        </header>
        <div class="container">
          <div class="row">
            <center>
              <div class="col-8">
                <br/><br/>
                  {% for category in categories %}
                  <h3><a href="{% url 'category' category %}">{{ category }}</a></li></h3>

                  {% endfor %}

<br/><br/><br/><br/><br/><br/><br/><br/>
              </div>
            </center>
          </div>
        </div>




{% endblock %}