{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header style="background-image: url('/static/assets/camobackground.jfif'); background-size: cover; background-position: center; height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Atnaujinti Paskyra</h1>
                </div>
            </div>
        </header>

        <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                <br/><br/>

<form method="POST" action="{% url 'update_user' %}">
    {% csrf_token %}

    {{ user_form.as_p }}
    <br/><br/>
    <button type="submit" class="btn btn-primary">
        Atnaujinti
    </button>

</form>
<br/>
<a href="{% url 'update_password' %}" class="btn btn-primary">Pakeisti slaptažodį</a></a>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
              </div>
          </div>
        </div>




{% endblock %}